<div class="resume-content">

    <h2 class="mb"> Master's degree student at
        <a href="https://www.abo.fi/en/">
            <img src="{{site.baseurl}}/assets/img/AboAkademiUniversity.png" class="mb-2"
                 height="50"/>
        </a></h2>
    <h3 class="mb"> Master's degree in Information Technology</h3>
    <h4 class="subheading mb-1"> What's a double degree ? </h4>
    <p> My second school has acknowledged my first years of study as equivalent to their prerequisites, and
        by spending some time completing their formation I cann qualify for their diploma in addition to
        mine.
        <br>
        Some double degrees require a longer time than a regular diploma but mine doesn't.
    </p>
    <h4 class="subheading mb-1"> Summary of courses</h4>
    <p class="lead">
        <span class="badge badge-pill badge-primary">Data Science</span> <span
            class="badge badge-pill badge-primary">Software Engineering</span> <span
            class="badge badge-pill badge-primary">Research</span>
    </p>

</div>
<div class="resume-date text-md-right">
    <span class="text-primary">September 2020 - June 2021</span>
</div>