<div class="resume-content">

    <h2 class="mb"> Double degree student at
        <a href="https://www.abo.fi/en/">
            <img src="{{site.baseurl}}/assets/img/AboAkademiUniversity.png" class="mb-2"
                 height="50"/>
        </a></h2>
    <h3 class="mb"> Master's degree in Information Technology</h3>
    <h4 class="subheading mb-1"> What's a double degree ? </h4>
    <p> A double degree is an agreement that lets you pursue two diplomas at the same time with each school
        acknowledging the other's classes as equivalent to some of theirs and by completing the right modules you
        qualify for both diplomas.
        <br>
        Having undertaken a university's double degree as an Engineering student, I learned about the world of research
        without compromising on a heavy technical background.
    </p>
    <h4 class="subheading mb-1"> Summary of courses</h4>
    <p class="lead">
        <span class="badge badge-pill badge-primary">Data Science</span>
        <span class="badge badge-pill badge-primary">Software Engineering</span>
        <span class="badge badge-pill badge-primary">Formation for Research</span>
    </p>

</div>
<div class="resume-date text-md-right">
    <span class="text-primary">September 2020 - June 2021</span>
</div>