<div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="resume-content">
        <h3 class="mb-0">{{job.title}}</h3>
        <a href={{job.companylink}}>
            <div class="subheading mb-3">{{job.company}}</div>
        </a>
        <p class="mb-2">{{job.summary}}</p>
        {% if job.repo!=null %}
        <p>
            <a href={{job.repo}}>
                <i class="fab {{job.repo-icon}}"></i>
                Project Repository
            </a>
        </p>
        {% endif %}

        {{job.content}}

        <h4>
            {% for concept in job.concepts %}
                <span class="badge badge-pill badge-{{concept.color}}">#{{concept.name}}</span>
            {% endfor %}
        </h4>
    </div>
    <div class="resume-date text-md-right">
        <span class="text-primary">
            {{job.startdate | date: "%B %Y"}} -
            {% if job.enddate != "none" %}
            {{job.enddate | date: "%B %Y"}}
            {% else %}
            Present
            {%endif%}
        </span>
    </div>
</div>