<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Nicolas Fouqué</span>
        <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{site.baseurl}}/assets/img/profile.png" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="" data-toggle="collapse" data-target="#collapseExperience"
                       aria-expanded="false" aria-controls="collapseExample">
                        Experience
                    </a>
                </li>
                <div class="collapse" id="collapseExperience">
                    <li class="nav-item">
                        <a class="nav-link nav-item js-scroll-trigger" href="#experience" style="font-size: smaller;">Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-item js-scroll-trigger" href="#school" style="font-size: smaller;">School</a>
                    </li>
                </div>
            </ul>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#education">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
            </li>
        </ul>
    </div>
    <div id="footer">
        <!--        <a href="index.html">-->
        <!--            <img src="https://upload.wikimedia.org/wikipedia/commons/0/0b/English_language.svg" width="70">-->
        <!--        </a>-->
        <!--        <a href="#">-->
        <!--            <img src="https://upload.wikimedia.org/wikipedia/en/c/c3/Flag_of_France.svg" width="60">-->
        <!--        </a>-->
        <a href="https://github.com/nk-fouque/nk-fouque.github.io">
            <p class="text-white">Credits</p>
        </a>
    </div>
</nav>