<div class="w-100">
    <h1 class="mb-0">Nicolas
        <span class="text-primary">Fouqué</span>
    </h1>
    <div class="subheading mb-5">
        <a href="mailto:fouquen@outook.fr">fouquen[at]outlook[dot]fr</a> /
        <a href="mailto:nfouque@insa-rennes.fr">nfouque[at]insa-rennes[dot]fr</a>
    </div>
    <p class="lead mb-5">I am an engineering student currently looking for internship opportunities over summer
        2020.</p>
    <p class="lead mb-2">I love Data Science, and being the guy who gives meaning to the numbers.</p>
    <p class="lead mb-2">
        Currently looking for opportunities in Rennes or abroad for an internship, available from May to August
        2020.
    </p>
    <p class="lead">
        I'd like to work in Data Visualization, preferably between the algorithm and the analysis, where I can
        develop tools for visualization
    </p>
    <div class="social-icons">
        <a href="https://www.linkedin.com/in/nicolaskf-fouqué">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/nk-fouque">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://twitter.com/nkfouque">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="/blog">
            <i class="fas fa-pen-nib"></i>
        </a>
    </div>
</div>
