<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
    <div class="w-100">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-award text-warning"></i>
                2018 - NPU-INSA Spring School
            </li>
            <li>
                <i class="fa-li fa fa-award text-warning"></i>
                2016 - Période Militaire de Découverte
            </li>
            <li>
                <i class="fa-li fa fa-award text-warning"></i>
                2016 - Selection for Regional Archery Tournament
            </li>
            <li>
                <i class="fa-li fa fa-award text-warning"></i>
                2014 - Cambridge English FCE
            </li>
            <li>
                <i class="fa-li fa fa-award text-warning"></i>
                2014 - Deutsches Sprachdiplom 1
            </li>
        </ul>
    </div>
</section>