
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
    <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Main Programming Languages</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item">
                <i class="fab fa-java"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-python"></i>
            </li>
            <img src='{{site.baseurl}}/assets/img/logos/Go-Logo_Grey.svg'
                 onmouseover="this.src='{{site.baseurl}}/assets/img/logos/Go-Logo_Blue.svg';"
                 onmouseout="this.src='{{site.baseurl}}/assets/img/logos/Go-Logo_Grey.svg';"
                 width="65"/>
        </ul>
        <div class="subheading mb-3">Other Programming Languages</div>
        <ul class="list-inline dev-icons">
            <img src='{{site.baseurl}}/assets/img/logos/bash-greyscale.svg'
                 onmouseover="this.src='{{site.baseurl}}/assets/img/logos/bash-color.svg';"
                 onmouseout="this.src='{{site.baseurl}}/assets/img/logos/bash-greyscale.svg';"
                 width="50"/>
            <img src='{{site.baseurl}}/assets/img/logos/ruby-greyscale.svg'
                 onmouseover="this.src='{{site.baseurl}}/assets/img/logos/ruby-color.svg';"
                 onmouseout="this.src='{{site.baseurl}}/assets/img/logos/ruby-greyscale.svg';"
                 width="40"/>
            <li class="list-inline-item">
                <i class="fab fa-js "></i>
            </li>
        </ul>
        <div class="subheading mb-3">Programming Languages Currently being learned</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item">
                <i class="fab fa-angular"></i>
            </li>
            <img class="svg-inline--fa"
                 src='{{site.baseurl}}/assets/img/logos/cpp-greyscale.svg'
                 onmouseover="this.src='{{site.baseurl}}/assets/img/logos/cpp-color.svg';"
                 onmouseout="this.src='{{site.baseurl}}/assets/img/logos/cpp-greyscale.svg';"
                 width="40"/>
        </ul>
        <div class="subheading mb-3">Cloud Computing Technologies</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item">
                <i class="fab fa-docker "></i>
            </li>
            <img class="list-inline-item"
                 src='{{site.baseurl}}/assets/img/logos/k8s_grey.svg'
                 onmouseover="this.src='{{site.baseurl}}/assets/img/logos/k8s_color.svg';"
                 onmouseout="this.src='{{site.baseurl}}/assets/img/logos/k8s_grey.svg';"
                 width="60"/>
            <li class="list-inline-item">
                <i class="fab fa-aws "></i>
            </li>
        </ul>

        <div class="subheading mb-3">Most used Tools</div>
        <ul class="list-inline dev-icons">
            <img src='{{site.baseurl}}/assets/img/logos/jetbrains-greyscale.svg'
                 onmouseover="this.src='{{site.baseurl}}/assets/img/logos/jetbrains.svg';"
                 onmouseout="this.src='{{site.baseurl}}/assets/img/logos/jetbrains-greyscale.svg';"
                 width="50"/>
            <li class="list-inline-item">
                <i class="fas fa-atom"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-slack"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-trello"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-google-drive"></i>
            </li>
        </ul>
    </div>
</section>