
<!-- Sidebar Widgets Column -->
<div class="col-md-4">

    <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
            <div class="container-fluid">
                {% for category in site.categories %}
                    <a class="btn btn-primary mb-1" href="/categories#{{category[0]}}" role="button">
                        {{category[0] | capitalize}}  <span class="badge badge-light">{{category[1] | size}}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="card my-4">
        <h5 class="card-header">Twitter</h5>
        <div class="card-body">
            <a class="twitter-timeline" data-height="900" href="https://twitter.com/{{site.twitter_username}}">Tweets by {{site.twitter_username}}</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>


    <!-- Side Widget -->
<!--    <div class="card my-4">-->
<!--        <h5 class="card-header">Side Widget</h5>-->
<!--        <div class="card-body">-->
<!--            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!-->
<!--        </div>-->
<!--    </div>-->

</div>
