<div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
    <div class="resume-content">
        <h3 class="mb-0">{{project.name}}</h3>
        <div class="subheading mb-3 text-primary">{{project.context}}</div>
        <p class="mb-2">{{project.summary}}</p>
        {% if project.repo!=null %}
        <p>
            <a href={{project.repo}}>
                <i class="fab {{project.repo-icon}}"></i>
                Project Repository
            </a>
        </p>
        {% endif %}

        {{project.more}}

        <h4>
            {% for concept in project.concepts %}
            <span class="badge badge-pill badge-{{concept.color}}">#{{concept.name}}</span>
            {% endfor %}
        </h4>
    </div>
    <div class="resume-date text-md-right">
        <span class="text-primary">
            {{project.startdate | date: "%B %Y"}} -
            {% if project.enddate %}
            {{project.enddate | date: "%B %Y"}}
            {% else %}
            present
            {%endif%}
        </span>
    </div>
</div>