<div class="w-100">
    <h1 class="mb-0">Nicolas
        <span class="text-primary">Fouqué</span>
    </h1>
    <div class="subheading mb-5">
        <a href="mailto:fouquen@outook.fr">fouquen[at]outlook[dot]fr</a> /
        <a href="mailto:nfouque@insa-rennes.fr">nfouque[at]insa-rennes[dot]fr</a>
    </div>
    <p class="lead mb-5">I am a French engineering student studying computer science.</p>
    <p class="lead mb-3">I love Data Science, and being the guy who gives meaning to the numbers.</p>
    <p class="lead mb-3">
        <b>Graduating in 2021, actively looking for a job after that</b>
    </p>
    <p class="lead">
        I'd like to work in <b>Data Visualization</b>, ideally between the algorithm and the analysis, where I can
        apply my skills in <b>Software Engineering</b> to develop tools for visualization
        <br>
        I am also well versed in <b>Machine Learning</b> and <b>Cloud computing</b>.
    </p>
    <div class="social-icons">
        <a href="https://www.linkedin.com/in/nicolaskf-fouqué">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/nk-fouque">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://twitter.com/nkfouque">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="/blog">
            <i class="fas fa-pen-nib"></i>
        </a>
    </div>
</div>
