<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
        <h1 class="mb-3">Education</h1>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <a href="https://www.insa-rennes.fr/">
                    <img src="{{site.baseurl}}/assets/img/Logo_INSARennes-developpe-quadri-rvb.png" class="mb-2" height="80"/>

                </a>
                <h3 class="mb-1">Computer Science Department</h3>
                <h4 class="subheading mb-1"> Noticeable courses </h4>
                <p>
                    General curriculum : Software Engineering, Machine Learning, Data Mining
                </p>
                <p>
                    Data Science Option : Natural Language Processing, Cloud Computing
                </p>
                <p>
                    Other options : Artificial Intelligence, Internet Of Things, Robotics
                </p>
                <h4 class="subheading mb-1">Misc. Info</h4>
                <p>
                    "FIRe" International Cursus : Usual courses taught in small groups with 50% foreign students,
                    attended during the preparatory cycle
                </p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">September 2016 - present</span>
            </div>

        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
            <div class="resume-content">
                <h3 class="mb-2">Lycée François 1er, Le Havre, France</h3>
                <div class="subheading mb-1">Baccalauréat Scientifique</div>
                <p>Physics & Chemistry Specialization</p>
                <p>Optional Physics & Chemistry in english course</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">September 2013 - June 2016</span>
            </div>
        </div>

    </div>
</section>