<div class="w-100">
    <h2 class="mb-4">Associative Life</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        {% assign sorted = (site.interests | sort: 'rank') %}
        {% for activity in sorted %}
        {% include control-card.html %}
        {% endfor %}
        </div>

        <div id="accordion">
            {% assign sorted = (site.interests | sort: 'rank') %}
            {% for activity in sorted %}
            {% include activity.html %}
            {% endfor %}
        </div>

    <h2>Hobbies</h2>
        <div>
            <p class="mb-0">
                I always have several creative projects under way ; audio and video content creation, coding side projects and creative writing.
                My main media consumption comes from Japanese pop-culture in the form of anime, mangas and light novels.
            </p>
            <p>
                Still very much an indoors type even when I want to stay active,
                I've been doing archery since I was in High School and came back to it recently.
                I have also been learning yosakoi and have been on stage several times as part of my troop.
            </p>
        </div>
    </div>