<div class="w-100">
    <h2 class="mb-4">Associative Life</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        {% assign sorted = (site.interests | sort: 'rank') %}
        {% for activity in sorted %}
        {% include control-card.html %}
        {% endfor %}
        </div>

        <div id="accordion">
            {% assign sorted = (site.interests | sort: 'rank') %}
            {% for activity in sorted %}
            {% include activity.html %}
            {% endfor %}
        </div>

    <h2>Hobbies</h2>
        <div>
            <p class="mb-0">
                Be it working for my side projects or relaxing, I spend most of my time indoors.
                Fascinated by Japanese culture, watching animes and reading mangas or light novels are my primary
                hobbies.
            </p>
            <p>
                When I go out of my room, I still enjoy indoor activities,
                recently started learning Yosakoi and soon coming back to Archery.
            </p>
        </div>
    </div>