<div class="w-100">
    <h2 class="mb-4">Extracurricular Activities</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
            <h3 class="mb-0">Insakura
                <img src="{{site.baseurl}}/assets/img/insakura.png" width="100"/>
            </h3>
            <div class="subheading mb-3">Japanese Culture Association</div>
            <div>2018-2020 - Co-President</div>
            <div>Co-Founder in 2018</div>
        </div>
        <div class="resume-content">
            <h3 class="mb-0">Le Mégaphone
                <a href="http://lemegaphone.asso.insa-rennes.fr/">
                    <img src="{{site.baseurl}}/assets/img/megaphone.png" width="100"/>
                </a>
            </h3>
            <div class="subheading mb-3">School Webradio</div>
            <div>2018 - Hardware Manager</div>
            <div>Field Reporter & Audio Editor since 2016</div>
        </div>
        <div class="resume-content">
            <h3 class="mb-0">Festival de l'Œil Glauque
                <a href="https://oeilglauque.fr/">
                    <img src="{{site.baseurl}}/assets/img/FOG.png" width="100"/>
                </a>
            </h3>
            <div class="subheading mb-3">Tabletop Games & RPG Festival</div>
            <div>2017 Edition - Communication vice-manager</div>
            <div>Volunteer for every Edition since 2016</div>
        </div>
    </div>

    <div>
        <h2 class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">Hobbies</h2>
        <p class="mb-0">
            Be it working for my clubs or relaxing, I spend most of my time indoors.
            Fascinated by Japanese culture, watching animes and reading mangas or light novels are my primary
            hobbies.
        </p>
        <p>
            When I go out of my room, I still enjoy indoor activities, I have recently come back to Archery
            thanks to my school's archery club, hoping to one day get back to the level that had lead me to
            regionals in high school.
            I also have a knack for Dance, Rock Dance to be specific, also in my school's club where I can work
            to improve myself in an atmosphere of constant exchange where everyone can learn from and teach to
            anyone.
        </p>
    </div>
</div>