<div class="w-100">


    <h2 class="mb-3">School Projects Experience</h2>
    {% assign sorted = (site.experiences | sort: 'enddate') | reverse %}
    {% for project in sorted %}
    {% if project.type == "school-main" %}
    {% include project.html %}
    <hr>
    {% endif %}
    {% endfor %}

    <div class="d-none d-md-block text-center">
        <button class="btn-read-more btn-lg projects " data-toggle="collapse"
                data-target=".multi-collapse-read-more-school" aria-expanded="false">
        </button>
    </div>
    <div class="collapse multi-collapse-read-more-school">
        {% for project in sorted %}
        {% if project.type == "school-more" %}
        {% include project.html %}
        <hr>
        {% endif %}
        {% endfor %}
    </div>
</div>
