
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
    <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        {% for category in site.data.skills %}
        <div class="subheading mb-3">{{category.name}}</div>
        <ul class="list-inline dev-icons">
            {% for skill in category.content %}
            {% if skill.icon == 'fontawesome' %}
            <li class="list-inline-item">
                <i class="{{skill.class}}"></i>
            </li>
            {% endif %}
            {% if skill.icon == 'img' %}
            <img src='{{site.baseurl}}/assets/img/logos/{{skill.grey}}'
                 onmouseover="this.src='{{site.baseurl}}/assets/img/logos/{{skill.color}}';"
                 onmouseout="this.src='{{site.baseurl}}/assets/img/logos/{{skill.grey}}';"
                 width="{{skill.size}}"/>
            {% endif %}
            {% endfor %}
        </ul>
        {% endfor %}

    </div>
</section>