<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
    <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-2">
            <div class="resume-content col-6">
                <h3>Technical Skills</h3>
                {% for category in site.data.skills %}
                <div class="subheading mb-1">{{category.name}}</div>
                <ul class="list-inline dev-icons">
                    {% for skill in category.content %}
                    {% if skill.icon == 'fontawesome' %}
                    <li class="list-inline-item">
                        <i class="{{skill.class}}"></i>
                    </li>
                    {% endif %}
                    {% if skill.icon == 'img' %}
                    <img src='{{site.baseurl}}/assets/img/logos/{{skill.grey}}'
                         onmouseover="this.src='{{site.baseurl}}/assets/img/logos/{{skill.color}}';"
                         onmouseout="this.src='{{site.baseurl}}/assets/img/logos/{{skill.grey}}';"
                         width="{{skill.size}}"/>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
            <div class="resume-content col-6">
                <h3>Other Skills</h3>

                <div class="subheading mb-1">Languages</div>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item" data-toggle="popover" data-placement="right"
                        title="Fluent" data-content="Mother Tongue">
                        <img class="flag" src="https://cdn.countryflags.com/thumbs/france/flag-800.png" width="60"/>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item" data-toggle="popover" data-placement="right"
                        title="Fluent">
                        <img class="flag" src="https://cdn.countryflags.com/thumbs/united-kingdom/flag-800.png"
                             width="60"/>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item" data-toggle="popover" data-placement="right"
                        title="Conversational">
                        <img class="flag" src="https://cdn.countryflags.com/thumbs/japan/flag-800.png" width="60"/>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star-half-alt text-warning"></i>
                        <i class="far fa-star text-warning"></i>
                        <i class="far fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item" data-toggle="popover" data-placement="right"
                        data-content="Studied 8 years but haven't spoken for 3 years so it might be very rusty"
                        title="Conversational/Professional">
                        <img class="flag" src="https://cdn.countryflags.com/thumbs/germany/flag-800.png" width="60"/>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-danger"></i>
                        <i class="far fa-star text-warning"></i>
                        <i class="far fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item" data-toggle="popover" data-placement="right"
                        data-content="Currently learning" title="Basics">
                        <img class="flag" src="https://cdn.countryflags.com/thumbs/finland/flag-800.png" width="60"/>
                        <i class="fas fa-star-half-alt text-warning"></i>
                        <i class="far fa-star text-warning"></i>
                        <i class="far fa-star text-warning"></i>
                        <i class="far fa-star text-warning"></i>
                        <i class="far fa-star text-warning"></i>
                    </li>
                </ul>


            </div>
        </div>

    </div>
</section>