{% include header.html %}

<body id="page-top">

{% include navbar.html %}

<div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
        {% include section/about.html %}
    </section>

    <hr class="m-0">

                {% include section/work_experience.html %}

                {% include section/school_experience.html %}

    <hr class="m-0">

    {% include section/education.html %}

    <hr class="m-0">

    {% include section/skills.html %}

    <hr class="m-0">

    {% include section/interests.html %}

    <hr class="m-0">

    {% include section/achievements.html %}

</div>

<!-- Custom scripts for this template -->
<script src="{{site.baseurl}}/assets/js/resume.min.js"></script>

</body>
</html>
