{% include header.html %}

<body id="page-top">

{% include navbar.html %}

<div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
        {% include section/about.html %}
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center align-items-center" id="experience">
        {% include section/work_experience.html %}
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center align-items-center" id="school">
        {% include section/school_experience.html %}
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center " id="education">
        {% include section/education.html %}
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
        {% include section/skills.html %}
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
        {% include section/interests.html %}
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="achievements">
        {% include section/achievements.html %}
    </section>

</div>

<!-- Custom scripts for this template -->
<script src="{{site.baseurl}}/assets/js/resume.min.js"></script>

</body>
</html>
